EMAIL_USER=giress865@gmail.com
EMAIL_APP_PASSWORD=yyju avbl gqel hgkc
MONGO_URL=mongodb+srv://giress865_db_user:AMVjLoQB7mlE9twX@cluster0.om03fkg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_jwt_secret_key
